{% extends 'base.html' %}
{% block content %}
<div id="whole-page">
    <div class="rest-section">
        <div class="rest-border-box">
            <div class="rest-details">
                <span><h3 class="rest-header">{{ restaurant.name }}</h3></span>
                <p class="rest-text">
                    Address: {{ restaurant.address }}
                    {{ restaurant.city }}, {{ restaurant.state }} {{ restaurant.zip_code }}<br>
                    Cuisine: {{ restaurant.cuisine }}<br>
                    Options: <br>
                    {% if restaurant.dine_in %}
                    - Dine In<br>
                    {% endif %}
                    {% if restaurant.take_out %}
                    - Take Out<br>
                    {% endif %}
                    {% if restaurant.delivery %}
                    - Delivery<br>
                    {% endif %}
                    {% if restaurant.drive_thru %}
                    - Drive Thru<br>
                    {% endif %}
                </p>
                {% if user.is_authenticated %}
                <div class="edit-and-del">
                    <a href="{% url 'restaurants_update' restaurant.id %}" class="btn">Edit</a>
                    <a href="{% url 'restaurants_delete' restaurant.id %}" class="btn">Delete</a>
                </div>
            {% endif %}
            </div>
            <div class="days-details">
                <div class="days-form">
                    <br>
                    <h3 class="days-header">Open:</h3>
                    <div class="days-text">
                        {% for day in restaurant.day_set.all %}
                                {{ day.get_days_display }}:
                                {{ day.opening_time }} {{ day.opening_hours }} -
                                {{ day.closing_time }} {{ day.closing_hours }}<br>
                        {% endfor %}
                    </div>
                    {% if user.is_authenticated %}
                        <div class="add-and-edit">
                            <form action="{% url 'add_day' restaurant.id %}" method="POST">
                                {% csrf_token %}
                                {{ day_form.as_p }}
                                <input type="submit" class="btn" value="Add Hours">
                            </form>
                            <a href="{% url 'days_update' restaurant.id %}" class="btn" id="edit-btn">Edit Hours</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


    <div id="photo-display">
        {% for photo in restaurant.photo_set.all %}
        <div class="image" style="background-image: url('{{photo.url}}');"></div>
        {% empty %}
        <div class="photo-text">No Photos Uploaded</div>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
        <form action="{% url 'add_photo' restaurant.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input class="btn" type="file" name="photo-file">
            <button type="submit" class="btn" id="upload-btn">Upload Photo</button>
        </form>
    {% endif %}
    <br>
    <div class="reviews">
        {% if user.is_authenticated %}
            <form action="{% url 'add_review' restaurant.id %}" method="POST">
                {% csrf_token %}
                {{ review_form.as_p }}
                <input type="submit" class="btn" value="Add Review">
            </form>
        {% endif %}
        <br>
        <table class="review-idx">
            <thead>
                <tr><th class="review-date">Date</th><th class="review-text">Review</th>{% if user.is_authenticated %}<th class="review-del">Delete</th>{% endif %}</tr>
            </thead>
            <tbody>
                {% for review in restaurant.review_set.all %}
                <tr>
                    <td class="review-date">{{review.created_at}}</td>
                    <td class="review-text">{{review.review}}</td>
                    {% if user.is_authenticated and review.user_id == user.id %}
                        <td class="review-del"><a href="{% url 'delete_review' review.id %}">X</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
