{% extends 'base.html' %}
{% block content %}

<div class="rest-details">
    <div>
        <span>{{ restaurant.name }}</span>
            <p>Address: {{ restaurant.address }}</p>
            <p>{{ restaurant.city }}, {{ restaurant.state }} {{ restaurant.zip_code }}</p>
            <p>Cuisine: {{ restaurant.cuisine }}</p>
            <p>Options: </p>
            {% if restaurant.dine_in %}
            <p>- Dine In</p>
            {% endif %}
            {% if restaurant.take_out %}
                <p>- Take Out</p>
            {% endif %}
            {% if restaurant.delivery %}
                <p>- Delivery</p>
            {% endif %}
            {% if restaurant.drive_thru %}
                <p>- Drive Thru</p>
            {% endif %}
        </div>
</div>
    <div>
        <a href="{% url 'restaurants_update' restaurant.id %}">Edit</a>
        <a href="{% url 'restaurants_delete' restaurant.id %}">Delete</a>
    </div>
</div>

{% endblock %}
