{% extends 'base.html' %}
{% block content %}

<div class="rest-details">
    <div>
        <span>{{ restaurant.name }}</span>
            <p>Address: {{ restaurant.address }}</p>
            <p>{{ restaurant.city }}, {{ restaurant.state }} {{ restaurant.zip_code }}</p>
            <p>Cuisine: {{ restaurant.cuisine }}</p>
            <p>Options: </p>
            {% if restaurant.dine_in %}
            <p>- Dine In</p>
            {% endif %}
            {% if restaurant.take_out %}
                <p>- Take Out</p>
            {% endif %}
            {% if restaurant.delivery %}
                <p>- Delivery</p>
            {% endif %}
            {% if restaurant.drive_thru %}
                <p>- Drive Thru</p>
            {% endif %}
        </div>
</div>
    <div>
        <a href="{% url 'restaurants_update' restaurant.id %}">Edit</a>
        <a href="{% url 'restaurants_delete' restaurant.id %}">Delete</a>
    </div>
</div>

<div class="row">
    <h3>{{ restaurant.name }}'s Days Open</h3>
    {% if restaurant.days.count %}
        {% for day in restaurant.days.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {{ day.get_days_display }}
                    </span>
                    <span class="card-hours">
                        {{ day.opening_time }} - {{ day.closing_time }}
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'unassoc_day' restaurant.id day.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">Remove</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h5>Closed</h5>
    {% endif %}
</div>
    <!-- Available toys will come after this line -->
    <div class="col s6">
      <h3>Available Days</h3>
      {% if days.count %}
        {% for day in days.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ day.name }}
              </span>
              <span class="card-hours">
                {{ day.opening_time }} - {{ day.closing_time }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_day' restaurant.id day.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{restaurant.name}} is current on its hours.</h5>
      {% endif %}

  </div>


  <form action="{% url 'add_review' restaurant.id %}" method="POST">
    {% csrf_token %}
    {{ review_form.as_p }}
    <input type="submit" class="btn" value="Add Review">
  </form>
  <br>
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Review</th></tr>
    </thead>
    <tbody>
      {% for review in restaurant.review_set.all %}
        <tr>
          <td>{{review.created_at}}</td>
          <td>{{review.review}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}
