{% extends 'base-ext.html' %}
{% block content %}

<h2>Restaurant List</h2>

{% for restaurant in restaurants %}
    <div class="rest-card">
        <a href="{% url 'detail' restaurant.id %}">
            <div>
                <span>{{ restaurant.name }}</span>
                <p>Address: {{ restaurant.address }}</p>
                <p>City, State, Zipcode: {{ restaurant.city }}, {{ restaurant.state }} {{ restaurant.zip_code }}</p>
                <p>Cuisine: {{ restaurant.cuisine }}</p>
                <p>Options: </p>
                {% if restaurant.dine_in %}
                <p>- Dine In</p>
                {% endif %}
                {% if restaurant.take_out %}
                    <p>- Take Out</p>
                {% endif %}
                {% if restaurant.delivery %}
                    <p>- Delivery</p>
                {% endif %}
                {% if restaurant.drive_thru %}
                    <p>- Drive Thru</p>
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}


{% endblock %}
