{% extends 'base.html' %}
{% block content %}

<h2>Restaurant List</h2>

{% for restaurant in restaurants %}
    <div class="rest-card">
        <div>
            <span><a href="{% url 'detail' restaurant.id %}">{{ restaurant.name }}</a></span>
                <p>Address: {{ restaurant.address }}</p>
                <p>{{ restaurant.city }}, {{ restaurant.state }} {{ restaurant.zip_code }}</p>
                <p>Cuisine: {{ restaurant.cuisine }}</p>
                <p>Options: </p>
                {% if restaurant.dine_in %}
                <p>- Dine In</p>
                {% endif %}
                {% if restaurant.take_out %}
                    <p>- Take Out</p>
                {% endif %}
                {% if restaurant.delivery %}
                    <p>- Delivery</p>
                {% endif %}
                {% if restaurant.drive_thru %}
                    <p>- Drive Thru</p>
                {% endif %}
            </div>
    </div>
{% endfor %}


{% endblock %}
