{% extends 'base-ext.html' %}
{% block content %}

<h1>Restaurant List</h1>

{% for restaurant in restaurants %}
    <a href="{% url 'detail' restaurant.id %}">
        <div>
            <div>
                <span>{{ restaurant.name }}</span>
                <p>Address: {{ restaurant.address }}</p>
                <p>City, State, Zipcode: {{ restaurant.city }}, {{ restaurant.state }} {{ restaurant.zip_code }}</p>
                <p>Cuisine: {{ restaurant.cuisine }}</p>
                <p>Options: </p>
                {% if dine_in == True %}
                    <p>- Dine In</p>
                {% if take_out == True %}
                    <p>- Take Out</p>
                {% if delivery == True %}
                    <p>- Delivery</p>
                {% if drive_thru == True %}
                    <p>- Drive Thru</p>
            </div>
        </div>
    </a>
{% endfor %}


{% endblock %}
