{% extends 'base.html' %}

{% block content %}
  <h2>About Hole in the Wall</h2>
  <p>
    We were presented with a problem when we tried to find somewhere new to eat. 
    We wanted something delicious, authentic and family-owned, something local. 
    When we looked on the other review sites, we only found reviews from unhappy customers
     or reviews for national chains with the same food we've tried already. 
  </p>
  <p>
    Instead, we've built a platform to collect reviews for only local places and we want to emphasize the good things each place has to offer.
    If you find a local place isn't to your liking, let us know somewhere else you like instead. At the end of the day, we still need to grab 
    some delicious food and we would love to hear your favorites. 
  </p>

{% endblock %}