body {
    padding: 5vh;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ffe8c0;
    font-family: 'Mukta', sans-serif;
    text-align: center;
}

a:link {
    color: #db1919;
    text-decoration: none;
}

a:visited {
    color: #7f0404;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a>img {
    width: 50px;
}

.nav-wrapper {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    width: 100%;
}

#logo>img {
    width: 400px;
}

#logo {
    background-image: url('../../static/images/header-img.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25vh;
    width: 33%;
    margin-top: 3vh;
}

.left-links {
    width: 32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 0;
}

.left-links>a {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-links {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 auto;
}

.right-links>a {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    margin-top: 10vh;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

.home-rest-title {
    background-color: rgba(50, 1, 1, .6);
    color: white;
    display: block;
    width: 200px;
}

#whole-page{
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rest-card, .reviewidx-card {
    background-color: white;
    border: solid #db1919;
    border-radius: 10px;
    margin: 1vh auto 1vh auto;
    padding: 2vh;
    width: 60vh
}

.rest-section {
    width: 150vh;
    margin-right: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.rest-border-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid #db1919;
    border-radius: 10px;
    width: 150vh;
}

.rest-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vh 20vh 1vh 20vh;
    padding: 2vh;
    width: 75vh;
}

.rest-details > h3 {
    width: 75vh;
    text-align: center;
    font-weight: bold;
}

.rest-header {
    font-size: xx-large;
    width: 50vh;
}

.days-details {
    width: 50vh;
    margin: 1vh 20vh 1vh 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.days-header {
    margin-bottom: -1vh;
}

.rest-text {
    margin-top: -5vh;
    margin-left: 3vh;
}

.rest-text, .days-text {
    height: 35vh;
    width: 50vh;
}

.days-text {
    text-align: justify;
}

.add-and-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#edit-btn {
    text-align: center;
    background-color: white;
    color: #320101;
    border: solid #db1919;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}



.submit_form {
    font-family: 'Mukta', sans-serif;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    
}

.submit_form input,
.submit_form textarea,
.submit_form select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px 'Mukta', sans-serif;
    height: 45px;
    padding: 7px 0;
}

.submit_form textarea {
    resize: none;
    overflow: hidden;
}

.submit_form input[type="button"],
.submit_form input[type="submit"] {
    background-color: #7f0404;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.submit_form input[type="button"]:hover,
.submit_form input[type="submit"]:hover {
    background: linear-gradient(to bottom, #4c0202 5%, #320101 100%);
    background-color: #320101;
}

.submit_form input[type="checkbox"] {
    margin-right: 30px;
    height: 20px;
}

.submit_form input[type="checkbox"]:checked {
    margin-right: 30px;
    height: 20px;
    background-color: #320101;
}

.submit_form input[type="text"],
.submit_form input[type="number"] {
    margin-left: 60px;
    width: 30vh;
}

.btn, input::file-selector-button {
    background-color: white;
    color: #320101;
    border: solid #db1919;
    border-radius: 5px;
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    padding: 5px;
    margin: 1px;
}


.image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border: solid #db1919;
    margin: 1vh;
    display: inline-block;
}

#photo-display {
    background-color: #320101;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.upload-btn {
    margin: 1vh;
}

.photo-text {
    color: white;
}

.reviews, .review-idx {
    width: 150vh;
}

.review-idx {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

tr {
    width: 150vh;
}

.review-date, .review-del {
    width: 30vh;
}

.review-date {
    text-align: justify;
}

.review-text {
    width: 90vh;
    text-align: left;
    margin-left: 5vh;
}

.reviews {
    margin: 0 auto 0 auto;
}

footer {
    margin-top: auto;
    margin-left: auto;
    font-size: smaller;
}